* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body 
{
    color: rgb(45, 25, 55);
    padding: 1rem;
    text-align: center;
}

.container 
{
    max-width: 1100px;
    margin: 0 auto;
}

header 
{
    padding: 1rem 2rem 4rem;
    padding: 19px 18px;
}

.row 
{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.col 
{
    background-color: rgba(49, 179, 255, 0.223);
    padding: 12px 15px;
    flex: 1;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px solid rgba(34, 22, 72, 0.24);
} 

p
{
    font-size: 1.2rem;
}

.PASTA p {
    background-color: rgba(39, 102, 177, 0.447);
    display: inline-block;
    padding: 3px 18px;
}

.pizza p {
    background-color: rgba(39, 102, 177, 0.447);
    display: inline-block;
    padding: 3px 18px;
}

.Rice p {
    background-color: rgba(39, 102, 177, 0.447); 
    display: inline-block;
    padding: 3px 18px;
}


/* tablet */

@media (min-width: 768px) and (max-width: 991px) {
    .row {
        flex-wrap: wrap;
    }

    .col-full {
        flex: 2;
        flex-basis: 100%;
    }
}

/* mobile view */

@media (max-width: 767px) {
    .row {
        flex-wrap: wrap;
    }

    .col {
        flex-basis: 100%;
    }
}